body{
    position:absolute;
    max-width:100%;
    left: 0px;
    right: 0px;
    background-color:lightblue;
}
/* CSS for the single page app using different tabs*/
input,
.TabContent {
  display: none;
  padding: 1em;
  clear: both;
}

label {
  display:block;
  box-sizing: border-box;
  width: 33%;
  float:left;
  font-size: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 3em;
  border-right: 3px #d9dee2 solid;
  border-left: 3px #d9dee2 solid;
}

label:hover {
    color:black;
}

#TabNumber1:checked ~ #Tab1Content,
#TabNumber2:checked ~ #Tab2Content,
#TabNumber3:checked ~ #Tab3Content {
  display: block;
}

/* CSS for different classes.*/

.Image {
    padding-top:10px;
    position:center;
    width:99%;
    height: auto;
    padding-bottom:4px; 
}

.ImageContainer {
    position:relative;
    text-align: center;
    color: white;
    background-color:cornflowerblue;
    max-width: 100%;
    height: auto;
    width: auto;
}

.WelcomeHeader {
    position:absolute;
    top:8px;
    left:20px;
    font-size:20px;
}

.LoginButton {
    position:absolute;
    background-color:blue;
    color:white;
    top:20px;
    right:20px;
    width:20px;
    height:20px;
    font-size:10px;
    display:inline;
    text-align:center;
    
}
a:hover {
    color:black;
}

.MainSection {
    padding-top: 20px;
    padding-bottom:50px;
    padding-left:2px;
    margin: auto;
    width: auto;
    font-size:10px;
}

#PageSplitter {
    border:solid;
    border-color:cornflowerblue;
    position:relative;
    width:98%;
    right:7px;
    
}

.TabContent {
    float:left;
    font-size:inherit;
}

.TabHeaders {
    font-size:10px;
}

.AboutUsTab {
    font-size:inherit;
    position:relative;
    text-align:left;
    width:auto;
    height:auto;
}

.GoogleMapAPI {
    position:relative;
    width:250px;
    height:200px;
    border:2px solid black;
}



/* Full-width input fields */
input[type=text], input[type=password] {
    padding: 5px 5px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.PopupLoginButtons{
    background-color:blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    display:none;
}

/* Center the image and position the close button */
.CloseButtonContainer{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.LoginPopUpContent {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 10px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}






/* Slideshow container */
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}



.slideshow-container {
    width:100%;
    position:center;
    margin: auto;
}

.SlideImage {
    
    height:175px;
    max-width: 100%;
    width:200px; 
}

/* Caption text */
.text {
    
  color: #f2f2f2;
  font-size: 10px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 10px;
  padding: 8px 12px;
  position: absolute;
  
}

/* The 3 dots at the bottom of the image. */
.DotContainer {
    text-align:center;
}

.dot {
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

 /* RESPONSIVE CSS BELOW*/
   /* On smaller screens, decrease text size    */
@media only screen and (min-width: 468px) {
  .text {font-size: 20px}
  .SlideImage {height:200px; width:400px;}
  label {display:block; font-size:20px;}
  .WelcomeHeader{font-size:30px;}
  .TabContent{font-size:15px;}
  .TabHeaders{font-size: 20px;}
  .LoginButton {font-size:10px; width:25px; height:20px;}
  .GoogleMapAPI {width:300px; height:250px;}
}

@media only screen and (min-width: 750px) {
  .text {font-size: 30px}
  .SlideImage {height:400px; width:600px;}
  label {display:block; font-size:25px;}
  .WelcomeHeader{font-size:35px;}
  .TabHeaders{font-size: 20px;}
  .TabContent{font-size:15px;}
  .LoginButton {font-size:20px; width:35px; height:30px;}
  .GoogleMapAPI {width:400px; height:300px;}
}

@media only screen and (min-width: 1000px) {
  .text {font-size: 40px}
  .SlideImage {height:450px; width:700px;}
  label {display:block; font-size:30px;}
  .WelcomeHeader{font-size:40px;}
  .TabHeaders{font-size: 25px;}
  .TabContent{font-size:20px;}
  .LoginButton {font-size:25px; width:50px; height:25px;}
  .GoogleMapAPI {width:600px; height:450px;}
}

@media only screen and (min-width: 1300px) {
  .text {font-size: 40px}
  .SlideImage {height:450px; width:700px;}
  label {display:block; font-size:30px;}
  .WelcomeHeader{font-size:45px;}
  .TabHeaders{font-size: 30px;}
  .TabContent{font-size:20px;}
  .LoginButton {font-size:30px; width:150px; height:40px;}
  .GoogleMapAPI {width:650px; height:450px;}
}





