body {
    background-color:cornflowerblue;
}

/* CSS for the single page app using different tabs*/
input,
section {
  display: none;
  padding: 1em;
  clear: both;
}

label {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 25%;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
  text-align: center;
  line-height: 3em;
  border-right: 3px #d9dee2 solid;
  border-left: 3px #d9dee2 solid;
}

#TabNumber1:checked ~ #Tab1Content,
#TabNumber2:checked ~ #Tab2Content,
#TabNumber3:checked ~ #Tab3Content {
  display: block;
}

/* CSS for different classes.*/

.MainSection {
    padding-top: 100px;
    padding-bottom:50px;
    position:center;
}

.TabContent {
    float:left;
}

.TopOfPage {
    background-color:blue;
}
.WelcomeHeader {
    float: left;
    font-size:40px;
    padding-left:40px;
    background-color:inherit;
}

.LoginButton {
    float: right;
    display:inline;
    padding-right:30px;
    font-size:30px;
    background-color:inherit;
}




